@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    padding: .5rem 0;
    font-family: "Quantico", sans-serif;
}
.flex{
    display: flex;
    column-gap: 1rem;
}
.app{
    width: 100%;
    height: 100%;
    max-width: 600px;
    background-color: #45494b;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: .4rem 1rem;
    border-bottom: 2px solid #333;
}
#mode{
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 600;
    color: aliceblue;
}
#question,
#analysis,
#settings{
    font-size: 2rem;
    background-color: rgb(1, 54, 51);
    color: aliceblue;
    padding: .2rem;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}



/* GUESS */
.guesses{
    height: 100%;
    padding: 2rem  0;
    display: flex;
    flex-direction: column;
    row-gap: .4rem;
}

.guess{
    display: flex;
    justify-content: center;
    column-gap: .4rem;
}

.placeholder{
    height: 60px;
    width: 60px;
    background-color: #91abb4;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: aliceblue;
}
.announcement{
    align-self: center;
    color: aliceblue;
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 2rem;
    transition: all .2s;
}
.submit{
    align-self: center;
    padding: 11px 27px;
    margin: 0em 0 0 0;
    border: none;
    border-radius: 5px;
    background-color: #00b591;
    color: aliceblue;
    font-weight: 600;
    font-family: "Quantico", sans-serif;
}

/* KEYBOARD */
.keyboard{
    display: flex;
    flex-direction: column;
    row-gap: .2rem;
    padding: 1rem;
}
.row{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .2rem;
}
.btn{
    font-size: 1.3rem;
    font-family: "Quantico", sans-serif;
    width: 9%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #aaa;
    color: aliceblue;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.backspace{
    font-size: 1.3rem;
    width: 12%;
    background-color: red;
    height: 45px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    color: aliceblue;

}
